main{
    background-color: black;
}

body{
    background-color: black;
    text-align: center;
    border: 5px solid rgba(255, 0, 255, 0.158);
    border-radius: 15px;
    padding-bottom: 30px;
}

footer{
    align-items: end;
}

h1{
    color: white;
}

small{
    color: white;
}

h6{
    color: white;
}

img{
    width: 640px;
    height: 480px;
    border: 3px solid rgb(59, 0, 93);
    border-radius: 15px;
    padding: 3px;
}